body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("./img/bg.jpg");
    background-size: cover;
}

.container {
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-bottom: 20px;
    font-size: 18px;
}

#score1,
#score2,
#highScore {
    font-size: 18px;
}

.set-mode {
    display: flex;
    justify-content: space-between;
}

#difficulty {
    margin-bottom: 20px;
}

#difficulty label {
    font-size: 16px;
    margin-right: 10px;
}

#speed {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

}

#gameCanvas {
    border: 2px solid #333;
}

#startBtn,
#resetBtn,
#toggleInstructionsBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#startBtn:hover {
    color: white;
    background-color: lightcoral;
    font-weight: bolder;
    transform: scale(1.1);
    transition: 400ms;
}

#resetBtn:hover {
    color: white;
    font-weight: bolder;
    background-color: lightcoral;
    transform: scale(1.1);
    transition: 400ms;
}

#toggleInstructionsBtn:hover {
    color: white;
    font-weight: bolder;
    background-color: lightcoral;
    transform: scale(1.1);
    transition: 400ms;
}

#mode {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}